@import './base.css';
@import './fonts/smiley-sans.css';
@import './margin.scss';
@import './padding.scss';
@import './module.scss';

.mx-clear-a-style {
  text-decoration: none;
  color: #000;
}

.mx-flex-center {
  display: flex;
  align-items: center;
}
